/* 박스 */
.box {
  --blue: #4a91f5;
  --skyblue: #4df0ff;
  background-color: var(--blue);
  position: fixed;
  z-index: 10;
  margin: 0 auto;
  padding: 12px 10px 8px 24px;
  width: 100%;
  box-shadow: 3px 3px 17px -11px rgba(0, 0, 0, 0.9);
  font-family: "NanumBarunGothic";
}

/* 공통속성 */
.navbar {
  left: 0;
  top: 0;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar a:hover {
  text-decoration: none;
  color: white;
}

.navbar > * {
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* 로고 */
.logo a {
  vertical-align: middle;
  font-family: "GmarketSansMedium";
  font-size: 1.8rem;
  color: white;
}

.logo span {
  padding-left: 5px;
}

/* 내비 main */
.nav_main {
  margin: 17px 0 0 50px;
}

.nav_main li {
  display: inline-block;
  list-style: none;
  margin: 0 20px 4px 8px;
  cursor: pointer;
  position: relative;
}

.nav_main a {
  font-family: "GmarketSansMedium";
  font-weight: 400;
  font-size: 1.2rem;
  color: aliceblue;
}

.nav_main a::after {
  background: var(--skyblue);
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  transform: scale(0, 1);
  transition: transform ease 200ms;
  content: "";
}

.nav_main a:hover::after {
  transform: scale(0.99, 1);
}

/* 내비 sub */
.nav_sub {
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  top: 22px;
  left: -32px;
  padding: 15px 10px 8px 20px;
  border-radius: 0 0 10px 10px;
  background: rgba(74, 145, 245, 0.9);
  transform: scale(1, 0.8);
  transform-origin: top;
  transition: transform 150ms ease;
}

.nav_main li:hover > .nav_sub {
  visibility: visible;
  transform: scale(1,1);
}

.nav_sub li:first-child {
  border-top: 3px solid rgba(0, 0, 0, 0.04);
}

.nav_sub li {
  width: 160px;
  padding-left: 4px;
  line-height: 46px;
  border-bottom: 1px solid rgba(74,145,245,0.7);
}

.nav_sub li:last-child {
  border-bottom: none
}

.nav_sub a {
  padding-left: 4px;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.nav_sub a:hover {
  color: white;
  font-weight: 600;
}

.nav_sub a::after {
  height: 0px;
}

nav_sub .active {
  color: var(--violet);
  font-weight: 1000;
}

/* 공고 */
.notice {
  position: absolute;
  top: 15px;
  right: 10px;
}

/* 토글메뉴 */
.toggle {
  display: none;
  position: absolute;
  top: 29px;
  right: 24px;
  /* display: none; */
}

.toggle span,
.toggle span::before,
.toggle span::after {
  position: relative;
  display: block;
  background-color: white;
  width: 24px;
  height: 1.5px;
}

.toggle span::after {
  content: "";
  top: 8px;
}

.toggle button:focus {
  outline: none;
}

/* 반응형 */
@media screen and (max-width: 880px) {
  .nav_main,
  .notice {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .toggle {
    display: inline;
  }
}

/* 폰트 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}
