.box {
    --blue: #4a91f5;
  --skyblue: #4df0ff;
  --violet: #7A4DFF;
  --violet2: #5C4DFF;
  position: relative;
  background: #F2F8FF;
  margin: 0;
  padding: 100px 0 0 0;
  font-family: "NanumBarunGothic";
  text-align: center;
}

.box ul {
  background: transparent;
  list-style: none;
}

.box li {
  display: inline-block;
}

.box a {
  background-color: var(--blue);
  color: white;
  border-radius: 30px;
  padding: 3px 10px;
  text-decoration: none;
}

.box a:hover {
  opacity: 1;
  background-color: var(--violet);
  font-weight: 600;
}

.active {
  opacity: 1;
  background-color: var(--violet);
  font-weight: 600;
}

.bootcamp {
  position: absolute;
  left: 260px;
  padding-left: 0;
}

.topstacks {
  position: relative;
  left: 410px;
}

/* 반응형 */

@media screen and (max-width: 800px) {
  .nav_main,
  .notice {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .toggle {
    display: inline;
  }
}

/* 폰트 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}
