.container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 5px;
}
.container .button_container {
  border-bottom: 2px solid #DAE4F2;
}

.container .button_container .count {
  cursor: pointer;
  background-color: #fff;
  color: #8f9aa7;
  width: 60px;
  text-align: center;
  padding: 4px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 2px;
}

.container .button_container:hover .count {
  background-color: #5C4DFF;
  color: #fff;
}
