.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.container .button_container {
  margin-left: 20px;
}
.container .button_container .a {
  background-color: #fff;
  color: #2199e8;
  border: 2px solid #2199e8;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 5px;
}

.container .button_container .a:hover {
  background-color: #2199e8;
  color: #fff;
}
