.container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.container .button_container {
  margin-left: 5px;
}
.container .button_container .count {
  cursor: pointer;
  background-color: #fff;
  color: #2199e8;
  border: 1px solid #2199e8;
  padding: 5px 13px;
  border-radius: 5px;
  font-size: 5px;
}

.container .button_container:hover .count {
  background-color: #2199e8;
  color: #fff;
}
