{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-jsx/babel", 
      { "plugins": [
        "styled-jsx-plugin-postcss"
        ] 
      }
    ]
  ]
}