
.tooltip_coding {
    visibility: hidden;
    width: 100px;
    background-color: #DAE4F2;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /*position: absolute;*/
    float: left;
    z-index: 1;
    color: #89A1C3;
    opacity: 0.8;
}

.coding:hover .tooltip_coding {
    visibility: visible;
}
