.aptitude, .coding, .interview, .tryout {
    display: inline-block;
    /*width: 30%;*/
    max-width: 50px;
}

.badge {
    display: inline-block;
}

.aptitude:hover::after {
    content: '적성검사';
    background-color: #89A1C3;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    color: white;
    display: inline;
    position: absolute;
}

.coding:hover::after {
    content: '코딩 테스트';
    background-color: #7A4DFF;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    color: white;
    display: inline;
    position: absolute;
}

.interview:hover::after {
    content: '면접';
    background-color: #4A91F5;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    color: white;
    display: inline;
    position: absolute;
}

.tryout:hover::after {
    content: '사전 집중교육';
    background-color: #4DF0FF;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    z-index: 1;
    color: white;
    display: inline;
    position: absolute;
}






/*.tooltip {*/
/*    visibility: hidden;*/
/*    width: 0;*/
/*    background-color: #DAE4F2;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 5px 10px 5px 10px;*/
/*    !*position: relative;*!*/
/*    !*float: left;*!*/
/*    z-index: 1;*/
/*    color: #89A1C3;*/
/*    opacity: 0.8;*/
/*    display: inline;*/
/*}*/

/*.box:hover .tooltip{*/
/*    visibility: visible;*/
/*}*/