
.tooltip_interview {
    visibility: hidden;
    width: 100px;
    background-color: #DAE4F2;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    /*position: absolute;*/
    /*float: right;*/
    z-index: 1;
    color: #89A1C3;
    opacity: 0.8;
    display: inline;
}

.interview:hover .tooltip_interview {
    visibility: visible;
}
