
.box {
    margin-top: -60x;
    margin-bottom: 5px;
    width: 92%;
    max-width: 1200px;
    display: block;
    height: 60px;
}

.cta {
    background: #4DF0FF;
    margin: auto;
    width: 70px;
    height: 35px;
    border-radius: 17px;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: center;
    margin-right: -70px;
}

.group {
    float: right;
    margin: auto;
}

.Hi {

    font-weight: 600;
    font-family: sans-serif;
    line-height: 2.7;
    color: white;
    font-size: 13px;
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

.image {
    width: 25px;
    display: block;
}

.Hi {
    animation: bounceIn 3s infinite;
}

@keyframes bounceIn {
    0%, 52% {
        opacity: 0;
        /*visibility: hidden;*/
    }
    55%, 80% {
        opacity: 1;
        /*visibility: visible;*/
    }
    83%, 100% {
        /*opacity: 1;*/
        /*visibility: hidden;*/
        opacity: 0;
    }
}

.cta {
    /*animation: wave-animation 3s linear infinite;*/
    animation: rescale 3s linear infinite;
    /*animation: rescales 3s, wave-animation 3s;*/
    /*animation-iteration-count: infinite;*/
}

/*.ctabox {*/
/*    animation: rescale 3s linear infinite;*/
/*}*/


@keyframes rescale {
    0%, 48% {
        transform: rotate(0deg) scale(0.7);

    }
    3%, 15%, 27%, 39% {
        transform: rotate(10deg) scale(0.7);

    }
    9%, 21%, 33%, 45% {
        transform: rotate(-10deg) scale(0.7);

    }
    58%, 75% {
        transform: scale(1);
    }
    85%, 100% {
        transform: scale(0.7);
    }
}

.image {
    animation: hover 3s linear infinite;
}

@keyframes hover {
    0%, 30% {
        transform: translate(80px, -2px);
    }
    55%, 75% {
        transform: translate(50px, -8px);

    }
    100% {
        transform: translate(80px, -2px);
    }
}


@media screen and (max-width: 740px) {
    .box {
        display: none;
    }
}


