.footer {
	margin-top: 50px;
	display: block;
	height: 40vh;
	width: 100%;
	background-color: #4A91F5;
	line-height: 1.3;
}

.copyright {
	padding: 30px 0 30px 0;
	text-align: center;
	font-size: small;
	color: white;
}

.list {
	display: flex;
}

.footer ul {
	display: inline-grid;
	grid-auto-flow: row;
	grid-gap: 10px;
	justify-items: center;
	margin: auto;
}

@media (min-width: 768px) {
	.footer {
		height: 20vh;
	}
	.footer ul {
		grid-auto-flow: column;
		grid-gap: 48px;
	}
}

.footer a {
	font-family: 'NanumBarunGothic';
	font-size: medium;
	color: white;
	text-decoration: none;
}

.footer a:hover {
	color: #2581DC;
}

.footer li p:hover {
	animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	75% {
		transform: rotate(-15deg);
	}
}