 /*.jumbo {*/
/*    background-color: #4A91F5;*/
/*    max-height: 600px;*/
/*}*/

/*.container {*/
/*    max-height: 600px;*/
/*}*/

/*.box {*/
/*    overflow: auto;*/
/*    background-color: #4A91F5;*/
/*}*/

/*.title {*/
/*    color: white;*/
/*}*/

/*.content {*/
/*    color: #F2F8FF;*/
/*}*/

/*.image {*/
/*    float: right;*/

/*}*/

 @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); .nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }

 .box {
    overflow: auto;
    background-color: #4A91F5;
    display: block;
}

.container {
    diaplay: flex;
    max-width: 100%;
    flex-wrap: wrap;
    border-width: 0;
}

.nav {
    display: inline;
    line-height: 3;
    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-weight: 500;
    width: 100px;
}

.list {
    list-style-type: none;
}

.a {
    color: #F2F8FF;
}

.a:hover {
    text-decoration: none;
}

.element {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title, .content {
    color: #F2F8FF;
}


.text {
    float: left;
    vertical-align: left;
    padding-right: 4rem;
    position: absolute;
    top: 28%;
    font-family: 'NanumGothic';
    max-width: 80%;
 }

.content {
    font-size: 1rem;
    font-weight: 100px;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}



.container {
    max-width: 1200px;
    margin: auto;
    width: 92%;
}








@media screen and (max-width: 1024px) {
    .nav {
        display: none;
    }
}



@media screen and (max-width: 900px) {
    .text {
        position: static;
        float: bottom;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0;
    }

}

@media screen and (max-width: 650px) {

    .title {
        font-size: 1.7rem;
    }
    .content {
        font-size: 1rem;
    }
    .text {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .container {
        margin: 0;
        width: 100%;
    }
}



 @media screen and (max-width: 415px) {
     .text {
         padding-right: 0;
     }
     .title {
         font-size: 1.3rem;
     }
     .content {
         font-size: 0.8rem;
     }
 }


 /*
    모니터 크기에 따라 일러스트레이션 크기 조정
    부트스트랩 Responsive breakpoints 참고하여 작성


 @media (min-width: 576px) {
     .image {
         max-width: 500px;
     }
 }

 @media (min-width: 768px) {
     .image {
         max-width: 500px;
     }
 }

 @media (min-width: 992px) {
     .image {
         max-width: 600px;
     }
 }

 @media (min-width: 1200px) {
     .image {
         max-width: 800px;
     }
 }
  */