 /*.jumbo {*/
/*    background-color: #4A91F5;*/
/*    max-height: 600px;*/
/*}*/

/*.container {*/
/*    max-height: 600px;*/
/*}*/

/*.box {*/
/*    overflow: auto;*/
/*    background-color: #4A91F5;*/
/*}*/

/*.title {*/
/*    color: white;*/
/*}*/

/*.content {*/
/*    color: #F2F8FF;*/
/*}*/

/*.image {*/
/*    float: right;*/

/*}*/

 @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
.box {
    overflow: auto;
    background-color: #4A91F5;
    display: block;
}

.container {
    diaplay: flex;
    max-width: 95%;
    flex-wrap: wrap;
}

.nav {
    display: inline;
    line-height: 3;
    font-family: 'NanumBarunGothic';
    font-size: 16px;
    font-weight: 500;
    width: 100px;
}

.list {
    list-style-type: none;
}

.a {
    color: #F2F8FF;
}

.a:hover {
    text-decoration: none;
}

.element {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title, .content {
    color: #F2F8FF;
}

.text {
    float: left;
    vertical-align: left;
    padding-left: 4rem;
    padding-right: 2rem;
    position: absolute;
    top: 23%;
    font-family: 'NanumBarunGothic';
    max-width: 80%;
 }

.content {
    font-size: 1rem;
    font-weight: 100px;
}

.title {
    font-weight: 600;
    font-size: 2rem;
}

.image {
    float: right;
    width: 600px;
}



@media screen and (max-width: 1024px) {
    .nav {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    .text {
        position: static;
        float: bottom;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0;
    }
}

@media screen and (max-width: 650px) {
    .image {
        width: 100%;
    }
    .title {
        font-size: 1.8rem;
    }
    .content {
        font-size: 0.8rem;
    }
}

 /*
    모니터 크기에 따라 일러스트레이션 크기 조정
    부트스트랩 Responsive breakpoints 참고하여 작성


 @media (min-width: 576px) {
     .image {
         max-width: 500px;
     }
 }

 @media (min-width: 768px) {
     .image {
         max-width: 500px;
     }
 }

 @media (min-width: 992px) {
     .image {
         max-width: 600px;
     }
 }

 @media (min-width: 1200px) {
     .image {
         max-width: 800px;
     }
 }
  */