@font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }

.max_width_wrapper{
	width: 92%;
	max-width: 1024px;
	display: flex;
	flex-direction: row;
}
.temp{
	background-color: khaki;
	width: 100%;
	height: 100vh;
}

/* 전체 래퍼 100%, 100vh */
.section_wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #EAF3FE;
}

/* 이미지 섹션 768px 미만이면 변경되도록 */
.bootCamps_image_section{
	width: 100%;
	overflow: hidden;
	flex: 1;
}
.bootCamps_image_section > img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
.bootCamps_contents_sector{
	width: 100%;
	height: 100%;
	display: flex;
	flex: 1;
}
.bootCamps_contents_wrapper{
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	font-family: 'NanumBarunGothic'; 
	justify-content: center;
	padding: 0 0 0 100px;
	line-height: 26px;
}

.bootCamps_title{

}

.more_info_link{
	line-height: 50px;
}

.reviews_wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #4574DD;
}

.reviews_contents_wrapper{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.reviews_title{

}
.reviews_subtitle{

}
@media only screen and (max-width: 820px) {
	.max_width_wrapper{
		flex-direction: column-reverse;
	}
	.bootCamps_image_section > img{
		display: none;
	}
	.bootCamps_contents_wrapper{
		text-align: center;
		padding: 0;
	}

	.reviews_contents_wrapper{
		text-align: center;
	}
}