.navbarBg {
    text-align: right;
    line-height: 30px;
    background-color: #4A91F5;
    box-shadow: 3px 3px 24px -11px;
    font-family: 'NanumBarunGothic';
}

.navbarBg a {
    padding-right: 50px;
}

.active {
    color: #F2F8FF;
}

.a:hover {
    text-decoration: none;
}

.rolling {
    height: 30px;
    line-height: 30px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

.rolling a {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    color: #a3c3f9;
    top: 0px;
    padding-left: 10px;
    width: 100%;
    text-align: left;
    display: inline-block;
    transform: translateY(0px);
    animation: rollin-txt 4.5s infinite;
}

.rolling .date {
    font-size: 10px;
    font-weight: 400;
    color: white;
    background-color: #5C4DFF;
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
}

.rolling .notice {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    text-align: left;
}

.rolling a:hover {
    text-decoration: none;
    color: #d5e3fc;
    font-weight: 600;
}

@keyframes rollin-txt {
    0% {
          transform: translateY(-0px);
    }
    20% {
          transform: translateY(-0px);
    }
    30% {
          transform: translateY(-48px);
    }
    50% {
          transform: translateY(-48px);
    }
    70% {
          transform: translateY(-96px);
    }
    80% {
          transform: translateY(-96px);
    }
    100% {
          transform: translateY(0px);
    }
  }
