/*$first: #327a81;*/
/*$second: #6cbec6;*/
/*$third: #91ced4;*/
/*$fourth: #c8e7ea;*/
/*$fifth: #daeff1;*/
/*$sixth: #edf7f8;*/

.users {
    background-color: #6cbec6;
    color: #327a81;
}
.users * {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.title {
    /*background-color: #c8e7ea;*/
    background-color: #c8e7ea;
    color: #327a81;
}

.rowtitle {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
}



.bootcamp {
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

}



.users {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin: 1em auto;
    overflow: hidden;
    width: 90%;
}

.table {
    width: 100%;
}
.table .cell, .table .bootcamp {
    color: #327a81;
    padding: 10px;
}
.table .cell {
    text-align: center;
    vertical-align: middle;
    min-width: 5rem;
}
.table .cell:last-child {
    font-size: 0.95em;
    line-height: 1.4;
}
.table .bootcamp {
    background-color: #daeff1;
    font-weight: 300;
}

/*.table .cell:nth-child(1) {*/
/*    background-color: #91ced4;*/
/*    color: white;*/
/*}*/
.table .row:nth-child(2n), .table .rowtitle:nth-child(2n){
    background-color: white;
}

.table .row:nth-child(2n+1), .table .rowtitle:nth-child(2n+1) {
    background-color: #edf7f8;
}
.rowtitle:nth-child(1) {
    background-color: #6cbec6;
}







@media screen and (max-width: 900px) {
    .users {
        background-color: #6cbec6;
    }


    .title {
        background-color: #91ced4;
    }

    .table, .row, .cell, .rowtitle{
        display: block;
    }

    .table .cell:nth-child(1) {
    background-color: #c8e7ea;
    color: #327a81;
}

    .bootcamp {
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }


    .cell:first-child {
        background-color: #c8e7ea;
        border-bottom: 1px solid #91ced4;
        border-radius: 0px 0px 0 0;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }
    .cell:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
    }
    .cell:not(:first-child):before {
        color: #91ced4;
        content: '';
        display: block;
        left: 0;
        position: absolute;

    }
    .cell:last-child {
        padding-botton: 1rem !important;
    }

    .cell:nth-child(2):before {
        content: '주관:';
    }
    .cell:nth-child(3):before {
        content: '선발과정:';
    }
    .cell:nth-child(4):before {
        content: '지원자격:';
    }
    .cell:nth-child(5):before {
        content: '모집인원:';
    }
    .cell:nth-child(6):before {
        content: '교육기간:';
    }
    .cell:nth-child(7):before {
        content: '혜택:';
    }
    .cell:nth-child(8):before {
        content: '교육지역:';
    }

    .row, .rowtitle {
        padding: 0px 0;
        position: relative;
    }
    .row:first-child, .rowtitle:first-child {
        display: none;
    }
}





@media screen and (max-width: 600px) {
    .users {
        background-color: #91ced4;
    }

    .bootcamp {
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    .image {
        border: 3px solid;
        border-color: #daeff1;
        height: 100px;
        margin: 0.5rem 0;
        width: 100px;
    }

    .cell:first-child {
        background-color: #c8e7ea;
        border-bottom: 1px solid #91ced4;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        width: 100%;
    }
    .cell:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
    }
    .cell:not(:first-child):before {
        font-size: .8em;
        padding-top: 0.3em;
        position: relative;
    }
    .cell:last-child {
        padding-bottom: 1rem !important;
    }

    .row, .rowtitle {
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
    }

    .users {
        border: none;
        box-shadow: none;
        overflow: visible;
    }
}
