
.tableBox {
	background-color: #e5e5e9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	height: 18vh;
}

.tableBox .intro {
	padding: 3rem;
	position: relative;
	top: 85%;
	transform: translateY(-50%);
}

.tableBox h1 {
	color: #456990;
	font-size: 3rem;
	line-height: 1em;
	font-weight: 400;
	text-align: center;
	margin-top: -10px;
}

.tableBox p {
	color: #456990;
	font-size: 1.5rem;
	line-height: 1.75em;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2rem;
}

.contentColumns {
 	overflow-x: hidden;
	padding: 3rem;
	display: flex;
	background: #e5e5e9;
	text-align: center;
	justify-content: center;
  }

  .col {
	min-height: 500px;
	width: 200px;
	padding: 1rem;
	background: #ebecee;
	margin-right: 1rem;
	box-shadow: 0 0 5px rgba(black, 0.04);
	border-radius: 5px;
	align-items: center;
  }

  .colName{
	border-top: 4px solid #ebecee;
	width: 90px;
	padding: 0 0 0 1rem;
	background: #ebecee;
	box-shadow: 0 0 5px rgba(black, 0.04);
	border-radius: 5px;
  }

  .col:nth-child(6) {
	border-top: 4px solid #50aaee;
  }
  .col:nth-child(2) {
	border-top: 4px solid #74ebd5;
  }
  .col:nth-child(3) {
	border-top: 4px solid #e37e55;
  }
  .col:nth-child(4) {
	border-top: 4px solid #ebbd41;
  }
  .col:nth-child(5) {
	border-top: 4px solid #72d439;
  }

.colName .item {
	background: #c4cde4;
	box-shadow: 0 2px 4px rgba(black, 0.07);
	border-radius: 5px;
	margin: 1rem 0 0.5rem 0;
	height: 50px;
	padding-bottom: 0;
}

.itemTitle {
	background: #c4cde4;
	box-shadow: 0 2px 4px rgba(black, 0.07);
	height: 40px;
	border-radius: 5px;
	margin: 0 0 0.5rem 0;
}

.item {
	background: white;
	box-shadow: 0 2px 4px rgba(black, 0.07);
	min-height: 50px;
	border-radius: 5px;
	margin: 0 0 1rem 0;
	height: 50px;
	display: flex;
  	justify-content: center;
 	flex-direction: column;
  }

.itemNull {
	background: #ebecee;
	box-shadow: 0 2px 4px rgba(black, 0.07);
	min-height: 40px;
	border-radius: 5px;
	margin: 0 0 0.5rem 0;
}
/*
h4 {
	font-family: 'NEXON Lv2 Gothic Bold';
	font-size: 14px;
	color: #456990;
	line-height: 40px;
	margin: -6px auto;
}
*/
.col .item p {
	font-size: 11px;
	overflow: auto;
	margin: 13px 0 10px
}
