.container {
  margin: 0;
  padding: 20px 0 10px 0;
  text-align: center;
  background-color: #4A91F5;
}

.drawing {
  width: 60vw;
  height: auto;
  max-width: 900px;
}

.speech {
  position: absolute;
  width: 27vw;
  height: auto;
  padding-top: 125px;
  top: 9vw;
  left: 36%;
  z-index: 2;

  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-animation: popup 0.5s cubic-bezier(1, 0, 0, 1.5) forwards;
  animation: popup 0.5s cubic-bezier(1, 0, 0, 1.5) forwards;
}

@-webkit-keyframes popup {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup {
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (min-width : 1500px) {
  .speech {
    max-width: 400px;
    padding-top: 260px;
    top: 0;
    margin-left: -200px;
    left: 50%;
  }
}

@media only screen and (max-width : 550px) {
  .drawing {
    width: 90vw;
    height: auto;
  }
  
  .speech {
    padding-top: 125px;
    position: absolute;
    width: 36vw;
    height: auto;
    top: 12vw;
    left: 31%;
  }
}