
/*@import url(//fonts.googleapis.com/earlyaccess/nanumBarunGothic.css); .nanumBarunGothic * { font-family: 'Nanum BarunGothic', sans-serif; }*/
@font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }
.body * {
	font-family: "NanumBarunGothic";
}

.body {
	font: normal 16px/1.5 "NanumBarunGothic";
	background: #F2F8FF;
	margin: 0 auto;
	width: 100%;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 100px;
}




/*D-Day part*/
.status_end, .status, .status_edu{
	border-radius: 5px;
	width: 50px;
	padding: 3px;
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	text-align: center;
	background-color: white;
	display: inline-block;
	margin-top: 5px;
	/*position: absolute;*/
	/*top: 16px;*/
}

.status_end {
	color: #89A1C3;
}

.status {
	color: #66D1FF;
}

.status_edu {
	color: #4A91F5;
}
/*-----------------------------------------------------------------------*/


/*timeline margin*/
.timeline {
	/*white-space: nowrap;*/
	/*overflow-x: hidden;*/
	max-width: 1200px;
	margin: 0 auto;
	width: 92%;
	margin-top: 100px;
}


/*-----------------------------------------------------------------------*/
.content {
	font-weight: 400;
	font-size: 13px;
}


/*timeline line*/
.line {
	position: absolute;
	/*display: inline-block;*/
	width: 100%;
	height: 7px;
	background: white;
	top: 603.5px;
}



/*-----------------------------------------------------------------------*/



/*dot*/
.dot, .dot_end, .dot_edu {
	content: '';
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: calc(100% + 1px);*/
	/*bottom: 0;*/
	width: 12px;
	height: 12px;
	/*transform: translateY(-50%);*/
	border-radius: 50%;
	border-width: 3px;
	border-style: solid;
	background: white;
	left: 50%;
}

.dot {
	border-color: #66D1FF;
}

.dot_end {
	border-color: #DFE8F4;
}

.dot_edu{
	border-color: #4A91F5;
}

/*-----------------------------------------------------------------------*/




/*card*/
.card_now, .card_edu, .card_end {
	/*position: absolute;*/
	/*left: calc(100% + 6px); !* dot 보다 7px 오른쪽에 위치 *!*/
	width: 320px;
	height: 110px;
	padding: 15px;
	padding-left: 25px;
	font-size: 1.1rem;
	white-space: normal;
	font-weight: 600;
	font-family: 'NanumBarunGothic';
	/*box-shadow: 2px 2px 3px 1px #DBE4EE;*/
	box-shadow: 10px 10px 20px 5px #cdd2d9;
	margin: 0;
}

.timeline .up {
	margin: 0;
}
/*.timeline ol li .card:nth-child(odd) */
.up_now, .up_edu, .up_end {
	border-radius: 12px 12px 12px 0;
	margin: 0;
}

/*.timeline ol li:nth-child(even) .card */
.down_now, .down_edu, .down_end {
	border-radius: 0 12px 12px 12px;
	margin: 0;
}

.card_end {
	background: #DFE8F4;
	color: #89A1C3;
}

.card_now {
	background: #66D1FF;
	color: white;
}

.card_edu {
	background: #4A91F5;
	color: white;
}
/*-----------------------------------------------------------------------*/



/*!*card position*!*/
/*.timeline ol li .one{*/
/*	left: -3%;*/
/*}*/
/*.timeline ol li .two {*/
/*	left: 13%;*/
/*}*/
/*.timeline ol li .three {*/
/*	left: 29%;*/
/*}*/
/*.timeline ol li .four {*/
/*	left: 45%;*/
/*}*/
/*.timeline ol li .five {*/
/*	left: 61%;*/
/*}*/
/*.timeline ol li .six {*/
/*	left: 77%;*/
/*}*/
/*-----------------------------------------------------------------------*/





/*arrow*/
.timeline box::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
}


/* ODD */
/*.timeline ol li:nth-child(odd) .card {*/
.up_now, .up_edu, .up_end {
	top: -16px;
	/*transform: translateY(-115%);*/
}

/*.timeline ol li:nth-child(odd) .card::before {*/
.up_now::before {
top: 96%;
border-width: 10px 10px 0 0;
}

/*.timeline ol li:nth-child(1) .card::before {*/
.timeline .up_end::before {
border-color: #DFE8F4 transparent transparent transparent;
}
.timeline .up_now::before {
	border-color: #66D1FF transparent transparent transparent;
}
.timeline .up_edu::before {
	border-color: #4A91F5 transparent transparent transparent;
}


/* EVEN */

/*.timeline ol li:nth-child(even) .card::before {*/
.down::before {
	top: -5px;
	border-width: 10px 0 0 10px;
}

/*.timeline ol li:nth-child(2) .card::before {*/
.down_end::before {
	border-color: transparent transparent transparent #DFE8F4;
}
/*.timeline ol li:nth-child(4) .card::before {*/
.down_now::before {
	border-color: transparent transparent transparent #66D1FF;
}
/*.timeline ol li:nth-child(6) .card::before {*/
.down_edu::before {
	border-color: transparent transparent transparent #4A91F5;
}

/*-----------------------------------------------------------------------*/




/* 라인에서 얼마나 떨어졌는지 */
/*.timeline ol li:nth-child(even) .card {*/
.down {
	/*top: calc(100% + 30px);*/
}
/*-----------------------------------------------------------------------*/





/* 카드가 화면 밖으로 삐져나가는 것 방지 */
@media screen and (max-width: 1300px) {
	.card_now, .card_edu, .card_end {
		width: 300px;
	}
}



@media screen and (max-width: 1220px) {
	.card_now, .card_edu, .card_end {
		width: 280px;
	}
}




/*-----------------------------------------------------------------------*/





/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 950px) {
	.line, .dot_now, .dot_edu, .dot_end {
		display: none;
	}

	.header .header {
		margin-top: 0px;
	}

	.body {
		padding-bottom: 50px;
	}

	.timeline {
		margin-top: 20px;
	}

	.timeline ol {
		padding: 0;
		transform: none !important;
	}

	.card_now:first-child, .card_end:first-child {
		margin-top: 25px;
	}

	.card_now, .card_edu, .card_end {
		max-width: 400px;
		width: 90%;
		height: 100px;
		margin: 0 auto 25px;
		padding: 15px;
		padding-left: 25px;
		font-size: 1.2rem;
		position: static;
		border-radius: 12px;
	}

	.content {
		font-size: 14px;
	}

	.status_end, .status, .status_edu{
		top: 12px;
		font-size: 12px;
	}

	.timeline ol li:nth-child(odd) .card {
		transform: none;
	}

	.timeline ol li:nth-child(odd) .card::before,
	.timeline ol li:nth-child(even) .card::before {
		/*left: 50%;*/
		/*top: 100%;*/
		/*transform: translateX(-50%);*/
		/*border: none;*/
		/*border-left: 3px solid;*/
		/*height: 25px;*/
		/*color: white;*/
		display: none;
	}

	.timeline ol li:last-child,
	.timeline ol li:nth-last-child(2) .card::before,
	.timeline ol li:not(:last-child)::after,
	.timeline .arrows {
		display: none;
	}
}
