.test1{
    background-color: #55de84;
}
.test2{
    
    color: bisque;
}

.header {
  color: #202125;
  margin-bottom: 0px;
}
.header h2 {
  font-weight: 600;
}
.header p {
  font-weight: 300;
}
.wrapper {
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  padding: 40px;
}
.gantt {
  display: grid;
  border: 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 75px 125px -57px #7e8f94;
}
.gantt__row {
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: #fff;
}
.gantt__row:nth-child(odd) {
  background-color: #f5f5f5;
}
.gantt__row:nth-child(odd) .gantt__row__first {
  background-color: #f5f5f5;
}
.gantt__row:nth-child(3) .gantt__row__bars {
  border-top: 0;
}
.gantt__row:nth-child(3) .gantt__row__first {
  border-top: 0;
}
.gantt__row__empty {
  background-color: #ffd6d2 !important;
  z-index: 1;
}
.gantt__row__empty .gantt__row__first {
  border-width: 1px 1px 0 0;
}
.gantt__row__lines {
  position: absolute;
  height: 200%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 150px repeat(12, 1fr); /*경계선 : repeat 함수로 쪼갤 수 있음*/ 
}
.gantt__row__lines span {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.gantt__row__lines span.marker {
  background-color: rgba(10, 52, 68, 0.13);
  z-index: 2;
}
.gantt__row__lines:after {
  grid-row: 1;
  grid-column: 0;
  background-color: #1688b345;
  z-index: 2;
  height: 100%;
}
.gantt__row__months {
  color: #fff;
  background-color: #4A91F5 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  grid-template-columns: 150px repeat(12, 1fr); /*1~12월 : repeat 함수로 쪼갤 수 있음*/
}
.gantt__row__months .gantt__row__first {
  border-top: 0 !important;
  background-color: #4A91F5 !important;
}
.gantt__row__months span {
  text-align: center;
  font-size: 13px;
  align-self: center;
  font-weight: bold;
  padding: 20px 0;
}
.gantt__row__first {
  background-color: #fff;
  border-width: 1px 0 0 0;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  padding: 15px 0;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.gantt__row__bars {
  list-style: none;
  display: grid;
  padding: 9px 0;
  margin: 0;
  grid-template-columns: repeat(52, 1fr); /* 칸 : repeat 함수로 쪼갤 수 있음*/
  grid-gap: 8px 0;
  border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.gantt__row__bars li {
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  min-height: 15px;
  background-color: #55de84;
  padding: 5px 12px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.gantt__row__bars li.stripes {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
}
.gantt__row__bars li:before, .gantt__row__bars li:after {
  content: "";
  height: 100%;
  top: 0;
  z-index: 4;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
.gantt__row__bars li:before {
  left: 0;
}
.gantt__row__bars li:after {
  right: 0;
}

/* 헤더 밑 태그 테스트용 gantt__row-bars 와 같음*/
.gantt__tags {
  list-style: none;
  display: grid;
  padding: 9px 0;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px 0;
}

.gantt__tags li {
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  min-height: 15px;
  background-color: #55de84;
  padding: 5px 12px;
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin: 0px 3px;
}

/* calendar hover  */

.calendar_entry {
  background: #61cd8b;
  padding: 0 4px;
  width: auto;
  border-radius: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1px;
}
.calendar_entry__title {
  font-size: 13px;
  font-weight: 600;
  padding-top: 4px;
  padding-bottom: 4px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.calendar_entry__date, .calendar_entry__details {
  font-size: 13px;
  opacity: 0;
  transition: 0.3s;
  height: 0;
  visibility: hidden;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
}
.calendar_entry__date a, .calendar_entry__details a {
  text-decoration: underline;
}
.calendar_entry__category {
  position: absolute;
  font-weight: 600;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.16);
  right: 4px;
  top: 2px;
  border-radius: 2px;
  transition: 0.3s;
}
.calendar_entry:hover {
  width: 200px;
  cursor: pointer;
  padding: 12px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(32, 41, 56, 0.4);
  -moz-box-shadow: 1px 2px 10px 0px rgba(32, 41, 56, 0.4);
  box-shadow: 1px 2px 10px 0px rgba(32, 41, 56, 0.4);
}
.calendar_entry:hover .calendar_entry__category {
  right: 12px;
  top: 12px;
}
.calendar_entry:hover .calendar_entry__date, .calendar_entry:hover .calendar_entry__details {
  opacity: 1;
  height: 12px;
  visibility: visible;
}
