extends layout

block content
  div(style='width:30rem; margin:auto; margin-top:7rem')
    form(action='/api/register', method='post')
      .form-row
        .col-md-12.mb-3
          label(for='validationServer01')
            | 닉네임
          if nick_double_check == 1
            input#validationServer01.form-control.is-valid(name='nickname', type='text', value=nickname, required='')
            .valid-feedback
              | 사용가능한 않은 닉네임입니다.
          else if nick_double_check == 0
            input#validationServer01.form-control.is-invalid(name='nickname', type='text', placeholder='닉네임', required='')
            .invalid-feedback
              | 중복된 닉네임입니다
          else
            input#validationServer01.form-control(name='nickname', type='text',placeholder='닉네임', required='')
      .form-row
        .col-md-12.mb-3
          label(for='validationServer02') 이메일
          if email_double_check == 1
            input#validationServer02.form-control.is-valid(name='email', type='email', placeholder='Email', value=email, required='')
            .valid-feedback
              | 사용가능한 email입니다.
          else if email_double_check == 0
            input#validationServer02.form-control.is-invalid(name='email', type='email', placeholder='Email', required='')
            .invalid-feedback
              | 중복된 email입니다.
          else
            input#validationServer02.form-control(name='email', type='email', placeholder='Email', required='')
      .form-row
        .col-md-12.mb-3
          label(for='validationServer03') 비밀번호
          input#validationServer03.form-control(name='password', type='password',placeholder='비밀번호', required='')
        .col-md-12.mb-3
          label(for='validationServer05') 비밀번호 확인
          if password_valid_check == 0
            input#validationServer05.form-control.is-invalid(name='passwordCheck', type='password', placeholder='비밀번호 확인', required='')
            .invalid-feedback
              | 비밀번호가 일치하지 않았습니다.
          else
            input#validationServer05.form-control(name='passwordCheck', type='password', placeholder='비밀번호 확인', required='')
          //추후에 칸에 빨간색이나 파란색 테두리로 틀린것을 표현하면서 메세지를 띄우고 싶을 때 아래 메세지가 필요합니다.
          //.is-invalid
          //.invalid-feedback
          //  | Please provide a valid zip.
      button.btn.btn-primary(type='submit') 회원가입
