.jumbotron {
	color: #456990;
  background-image: url("#");
  background-position: center;
  background-size: cover;
}

h1 {
	font-family: 'NEXON Lv2 Gothic Bold';
}

p {
	font-family: 'NEXON Lv1 Gothic OTF Light';
	color : black;
}

@font-face { font-family: 'NEXON Lv1 Gothic OTF Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NEXON Lv2 Gothic Bold'; src: url('../fonts/NEXON\ Lv2\ Gothic\ Bold.ttf') format('truetype'); }
